@font-face {
    font-family: 'Intro';
    src: url('../fonts/intro/Intro.eot');
    src: local('☺'), url('../fonts/intro/Intro.woff') format('woff'), url('../fonts/intro/Intro.ttf') format('truetype'), url('../fonts/intro/Intro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



html{
    font-size: 15px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.box-shadow_container{
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 14.25px 0.75px rgba(0, 0, 0, 0.1);
}

.hero{
    background: url("../img/block1_bg.jpg") no-repeat top center;
    background-size: cover;
}
    .main_menu_container{
        padding: 40px 35px 0 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1366px;
        width: 100%;
    }
        .burger_btn {
            display: none;
            width: 30px;
            height: 30px;
            position: relative;
            z-index:2;
            overflow: hidden;
            align-self: flex-start;
        }

        .burger_btn span {
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            transition: all 0.5s;
        }

        .burger_btn span:nth-of-type(2) {
            top: calc(50% - 10px);
        }
        .burger_btn span:nth-of-type(3) {
            top: calc(50% + 10px);
        }

        /* Меняем гамбургер иконку, когда меню открыто */
        .burger_btn.active_burger span:nth-of-type(1) {
            display: none;
        }
        .burger_btn.active_burger span:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);
        }
        .burger_btn.active_burger span:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg);
        }

        /* Меню, которое будет появляться */
        .burger_menu {
            display: none;
            position: absolute;
            top: -15px;
            left: 15px;
            width: 100%;
            height: auto;
            padding-left: 25px;
            padding-top: 10px;
            transform: translateY(-100%);
            transition: transform 0.5s;
            z-index: 888;
        }
        .burger_menu.active_burger_menu {
            transform: translateY(90%);
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .burger_menu li {
            list-style-type: none;
            margin: 5px 0;
        }
        .logo_container{
            flex: 0 0 130px;
        }
            .logo_img{
                display: block;
            }
        .main_menu{
            display: flex;
            align-items: center;
            gap: 35px;
        }
            .nav_link{
                color: #ffffff;
                text-decoration: none;
                white-space: nowrap;
            }
                .nav_link:active{
                    color: #ffffff;
                    text-decoration: none;
                }
        .phone_and_login{
            max-width: 230px;
            width: 100%;
            margin-left: 200px;
            display: flex;
            align-items: center;
            gap:40px;
            justify-content: flex-end;
        }
            .phone_link{
               font-size:  1.067rem;
                white-space: nowrap;
            }
            .button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.933rem;
            }
                .login_button{
                    padding: 11px 46px;
                    flex: 1 1 128px;
                    width: 100%;
                    border:1px solid #ffffff;
                    border-radius: 1.133rem;
                    color: #ffffff;
                }
    .phone_button_container{
        margin-top: 40px;
        max-width: 1366px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
        .phone_button{
            margin-right: 45px;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background-color: #6fe0f1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .phone_button > img{
                display: block;
            }

    .hero .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .section_header_container{
            color: #ffffff;
            margin-top: 8rem;
            font-family: "Intro",sans-serif;
            font-weight: bold;
            line-height: 1.042;
            text-align: center;
        }
            .section_header{
                font-size: 3.067rem;
            }
                .section_header span {
                    font-size: 2.4rem;
                    display: block;
                }
            .section_header_container .green{
                font-size: 2.133rem;
                color: rgb(130, 234, 173);
                line-height: 1.2;
            }
    .order_form_container{
        margin-top: 10rem;
        max-width: 815px;
        width: 100%;
        padding: 1.333rem 2.333rem;
    }
        .order_form{
            width: 100%;
            display: flex;
            flex: 0 1 auto;
            align-items: flex-end;
            justify-content: space-between;
        }
            .field{
                width: 30%;
            }
                .field select{
                    width: 100%;
                    display: block;
                    margin-top: 1rem;
                    padding: 8px 20px ;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    font-size: 1.143rem;
                    box-sizing: border-box;
                }
                .field label{
                    width: 100%;
                    display: block;
                    font-weight: 300;
                    font-size: 1.1rem;
                    color:#a1a1a1;
                }
            .order_button{
                background: -moz-linear-gradient( 0deg, rgb(130,234,173) 0%, rgb(111,224,242) 100%);
                background: -webkit-linear-gradient( 0deg, rgb(130,234,173) 0%, rgb(111,224,242) 100%);
                background: -ms-linear-gradient( 0deg, rgb(130,234,173) 0%, rgb(111,224,242) 100%);
                box-shadow: 0.342px 0.94px 4.8px 0.2px rgba(0, 0, 0, 0.2);
                width: 189px;
                height: 41px;
                color: #000000;
                font-weight: 300;
                outline: none;
                border-radius: 20px;
                border: 0;
                cursor: pointer;
            }
    .sale_container{
        margin: 25px 0;
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
.yellow{
    color:#f6ff00;
}
    .small_header_container{
        margin-top: 4.286rem;
        font-size: 2.571rem;
        text-align: center;
        font-weight: 500;
    }
        .small_header{
            color: #000000;
        }
    .tabs_text {
        font-size: 1.286rem;
        font-weight: 300;
        color: #000000;
        text-align: center;
        margin-top: 2.143rem;
    }
        .tabs_selectors{
            display: inline-block;
        }
            .tabs_selectors .tab{
                display: inline-block;
                margin-left: 30px;
                cursor: pointer;
            }
                .tab span{
                    border-bottom: 1px dashed #000000;
                    padding-bottom: 5px;
                }
            .tabs_selectors .active_tab span{
                    color: #62d5e9;
                    border-bottom:1px transparent;
                }
         .tabs_images{
             margin: 40px auto 0;
         }
            .tab_content {
                max-width: 980px;
                width: 100%;
                border-radius: 30px;
                display: none;
                margin: 0 auto;
                overflow: hidden;
            }
            .active_content{
                display: block;
            }
                .tab_content img{
                    display: block;
                    width: 100%;

                }
    .cleaning_description{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
        .cleaning{
            font-weight: 300;
            font-size: 1.143rem;
            display: flex;
            align-items: center;
        }
        .cleaning span{
            width: 13px;
            height: 13px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .general{
            background-color: #f6ff00;
        }
        .ongoing{
            background-color: #82eaae;
        }
        .types_of_cleaning__info_container{
            display: flex;
            gap: 70px;
            align-items: flex-start;
            margin-top: 45px;
        }
        .types_of_cleaning__info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 490px;
            width: 100%;
            height: 640px;
        }
            .types_of_cleaning__info > div{
                width: 100%;
            }
            .info_content .info_header{
                margin: 40px auto 0;
            }
                .info_header .cleaning{
                    font-size: 1.6rem;
                    font-weight: 500;
                    justify-content: center;
                }
            .info_content .info_list_container{
                font-size: 1.143rem;
                margin-top: 35px;
                font-weight: 400;
            }
                .info_list_container .info_list,.additional_list{
                    padding:0 0 0 75px;
                    font-size: 1.143rem;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                    .info_list_container .info_list .info_list_item,.additional_item{
                        position: relative;
                    }
                    .info_list_container .info_list .info_list_item:before{
                        content:'';
                        width: 14px;
                        height: 10px;
                        background: url("../img/check.png") top center no-repeat;
                        top: 50%;
                        margin-top: -7px;
                        left: -25px;
                        position: absolute;
                    }
                    .info_content .additional_list_container{
                        margin-top: 30px;
                    }
                    .info_content .additional_item:before{
                        content:'+';
                        width: 10px;
                        height: 10px;
                        color: #62d5e9;
                        font-size: 1.143rem;
                        top: 50%;
                        margin-top: -7px;
                        left: -35px;
                        position: absolute;
                    }
            .price_container{
                padding: 45px 0 35px;
                border-top: 2px solid rgb(246, 246, 245);
                gap: 20px;
            }
                .price_container .price {
                    display: flex;
                    flex: 0 1 100%;
                    margin: 0 auto;
                    justify-content: center;
                    gap: 30px;
                }
                    .price .price_text {
                        font-size: 1.143rem;
                        font-weight: 300;
                    }
                        .price .price_text span{
                            display: block;
                            font-size: 0.938rem;
                            color: #a1a1a1;
                        }
                    .price .price_amount {
                        font-size: 1.867rem;
                    }
                .price_container .order_button{
                    margin: 20px auto 0;
                }
            .counter_container{
                margin: 50px 0 70px;
            }
                .counter{
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 75px 60px 50px;
                    gap: 6.667rem;
                }
                    .counter_values{
                        width: 65%;
                        display: flex;
                        justify-content: space-between;
                    }
                    .counter .counter_item{
                        text-align: center;
                    }
                        .counter_item .counter_name{
                            font-size: 1.6rem;
                        }
                        .counter_item .counter_date{
                            color: #a1a1a1;
                        }
                        .counter_item .counter_numbers{
                            font-size: 3.2rem;
                            color: #6fe0f1;
                        }
                        .counter_item .counter_description,.counter_date{
                            font-size: 1.133rem;
                            font-weight: 300;
                            margin-top: 10px;
                        }
.bullet_section{
    background: url("../img/bullet_section_bg.jpg") no-repeat top center;
    background-size: cover;
}
    .bullet_section .wrapper .small_header_container{
        margin-top: 100px;
    }
    .bullet_section .wrapper .bullets_container{
        margin:85px 0 95px;
    }
        .bullets_container .bullets{
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-wrap: wrap;
            flex: 0 0 auto;
        }
            .bullets .bullet{
                display: flex;
                flex: 0 0 20%;
                flex-direction: column;
                gap: 35px;
                align-items: center;
                text-align: center;
            }
                .bullet .bullet_image{
                    height: 130px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
.FAQ{
    background-color: #f8f8f8;
}
    .FAQ_tabs_container{
        margin: 4rem 0 4.333rem;
        width: 100%;
    }
        .question_groups{
            display: flex;
            gap: 2.333rem;
            flex: 0 1 100%;
            justify-content: space-between;
        }
            .question_group{
                display: flex;
                align-items: center;
                flex: 0 0 30%;
                height: 115px;
                padding: 0 20px 0 50px;
                gap: 10px;
                justify-content: space-between;
            }
            .question_groups .active_group{
                color: #62d5e9;
            }
                .group_name{
                    font-size: 1.2rem;
                }
        .question_tabs{
            padding: 1.5rem 6.667rem;
            margin-top: 2.667rem;
            position: relative;
        }
            .question_tab{
                min-height: 220px;
                display: none;
            }
            .active_question_tab{
                display: flex;
            }
                .question_list{
                    list-style-position: inside;
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                    column-count: 2;
                    list-style-type: decimal;
                }
                    .question{
                        margin-top: 15px;
                        cursor: pointer;
                    }
                        .question span{
                            margin-left: 5px;
                            line-height: 1.2;
                            border-bottom: 1px dashed #000000;
                        }
                            .answer{
                                display: none;
                            }
                .popup{
                    width: 100%;
                    margin: 0px auto;
                    display:none;
                    position:absolute;
                    z-index: 999;
                    top:25%;
                    left:25%;

                }
                    .container{
                        border-radius: 10px;
                        overflow: hidden;
                        max-width: 300px;
                        width: 100%;
                        background-color: rgb(255, 255, 255);
                    }
                        .top_question{
                            padding: 20px;
                            background:#a1a1a1;
                            text-align: center;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                            .top_question .close_popup{
                                width: 10px;
                                cursor: pointer;
                            }
                        .bottom_answer{
                            padding: 20px;
                            text-align: center;
                        }


.reviews{
    background: url("../img/reviews_bg.jpg")  center 160px no-repeat;
    background-size: cover;
}
    .reviews .slider_container{
        margin: 140px auto 30px;
        padding: 40px 70px;
    }
        .slider_container .slide img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    .reviews_button{
        background: #ffffff;
        margin: 0 auto 80px;
    }
        .reviews .slick-arrow{
            display: inline-block;
            position: absolute;
            width: 56px;
            height: 56px;
            cursor: pointer;
            z-index: 99;
            top: 50%;
            margin: -20px 0 0;
            background: url("../img/arrows.png") no-repeat;
        }
         .reviews .slick-prev{
            left: -30px;
            background-position: -0 -0;
        }
        .reviews .slick-next{
            right: -30px;
            background-position: -56px -0;
        }

@media screen and (max-width: 1170px){
    html{
        font-size: 14px;
    }
    .phone_and_login{
        margin-left: 70px;
        gap: 20px;
    }
    .logo_container, .login_button{
        flex: 1 1 auto;
    }
}

@media screen and (max-width: 980px) {
    html{
        font-size: 13px;
    }
    .main_menu_container{
        justify-content: center;
    }
    .main_menu{
        display: none;
    }
    .phone_and_login{
        flex-direction: column;
        margin-left: 50px;
    }
    .phone_button_container{
        margin-top: 0;
        order: 4;
    }
    .phone_button{
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    .order_form_container{
        width: 70%;
    }
    .order_form{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
    .field{
       width: 100%;
    }
    .types_of_cleaning__info_container{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 576px){
    html{
        font-size: 11px;
    }
    .main_menu_container{
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }
    .burger_btn{
        display: block;
    }
    .logo_container, .login_button{
        flex: 1 1 auto;
    }
    .wrapper{
        padding: 0 5px;
    }
    .phone_and_login{
        flex-direction: column;
        margin-left: 0;
    }
    .order_form_container{
        width: 90%;
    }

    .tabs_selectors {
        margin: 15px auto;
        columns: 2;
        width: 80%;
    }
        .tabs_selectors .tab{
            margin: 0 auto 15px;
            display: block;
        }
    .counter{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 4rem 2rem;
    }
        .counter_values{
            width: 100%;
        }
         .counter_item .counter_numbers{
                font-size: 2.76rem;
            }
        .counter_item .counter_description{
            font-size: 1rem;
        }
    .bullets_container .bullets {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
        .bullet_text{
            font-size: 1.26rem;
            max-width: 180px;
            width: 100%;
        }
    .question_groups{
        flex-direction: column;
    }
        .question_groups .question_group{
            flex: 1 1 100%;
            padding: 20px 50px;
        }
            .group_name{
                font-size: 1.6rem;
            }

    .reviews{
        background-position: center 100px ;
    }
    .reviews .slider_container{
        margin: 80px auto 30px;
        padding: 15px;
    }
    .reviews .slick-prev{
        left: -10px;
    }
    .reviews .slick-next{
        right: -10px;
    }

    .container{
        max-width: 200px;
    }
}
